<div class="container-fluid">
  <h2 class="text-center">Did you know you can Create your own Quote?</h2><hr>
<div class="row">
 <div class="col-md-4">
   <app-quote-form (addQuote)="quoteSubmission($event)"></app-quote-form>
 </div> 
 <div class="col-md-8">
<ol type="i">
<div *ngFor='let quote of quotes;let position = index'>
<li >{{quote.quote}}</li>
<button class="btn btn-outline-primary" (click)='toogleDetails(position)'>Quote Details</button>

<!-- Input Binding -->
<app-quote-datails *ngIf="quote.showDesc" [quote]='quote' (vote)='upVote($event,position)' (downvote)='downVote($event,position)' (quoteDelete)='deleteQuote($event,position)'></app-quote-datails>
</div>
</ol>
</div>
</div>
</div>